body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    header {
        // background: crimson;
        display: flex;
        flex-direction: column;
        #site-heading {
            font-family: 'Crimson Text', serif;
            text-align: center;
            margin: 0px;
            padding: 5px;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 3em;
        }
        #navbar {
            // background: orangered;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            li {
                // background: orange;
                list-style-type: none;
                display: flex;
                a {
                    font-family: 'Crimson Text', serif;
                    // background: yellow;
                    font-size: 1.5em;
                    padding: 5px;
                    text-align: center;
                    margin: 5px;
                }
            }
        }
        hr {
            width: 90%;
            margin: 0px auto;

        }
    }
}