# This page acts as the homepage for the application.

# Page heading.
<section id="home-section">

# Welcome message and information about the site.
    <h2 id="home-header">Welcome to The Green Market!</h2>
    <p class="home-para">
        This website is a marketplace for plant hobbyists and collectors to come together and share their plants.
        Currently, the website is only supporting residents of Australia due to difficult international regulations on plants.
    </p>
    <p class="home-para">
        In the menu above you'll find links to view all the listings and to sign in or sign up. Before you purchase a plant, please edit your profile and add your postal address. 
        Please ensure all contact details are correct as your email will be provided to the seller/buyer on purchase.
    </p>
</section>
