# This view simply displays the title for the page and renders the form for the address to be updated.

<h1 id="login-title">Editing Address</h1>

# Renders the form and sets the address to a variable defined in the controller.
<%= render 'form', address: @address %>
