<%# # Page heading. %>
<h1>New Listing</h1>

<%# # Renders the form for the listing model and sets the current listing as defined in the controller as a variable. %>
<%= render 'form', listing: @listing %>

